body{

	color: #ffffff;
}
.contenedor{
padding: 15px;
display: flex;
justify-content: space-between;

}


.contenedor a{
color: #ffffff;
font-size: 2rem;
text-decoration:none;


}
.contenedor a:hover{
	font-size: 2rem;

}
.contenedor a:visited{
	color: #ffffff;

}

  .video {
	position: fixed;
	width: 100%;
	z-index: -1;
	height: auto;
  }




/* area contenido */

#maincontent_container {

	text-align:left;
	margin: 10% 0 4% 10% ;

}

#maincontent_container h1, h2, h3 {
	font-size: 2rem;
	text-transform: uppercase;
	line-height: 130%;

}



.boton{

    margin: 5% 0 0 0;
    padding: 13px 100px;
    font-size: 18px;
    font-weight: bold;
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 15px;
    transition: .5s all;
    cursor: pointer;
}

.boton:hover{
	transform: scale(1.2);
 
 }
 
/* pie de pagina */

.social-icons
{
	
	display: flex;
	justify-content: center;
	text-transform: uppercase;
	width: 100%;
}


.social-icons a{
	font-style: italic;
margin: 0 0 0 5px;
text-decoration:none;
color: #ffffff;

}

@media (max-width: 767px) {
    .video {
        display: none;
    }
    body {
        background-image: url("imagenes/latino.jpg");
        background-size: cover ;
    }



	#maincontent_container {
	display: flex; 
	flex-direction: column;
	
	justify-content: center;
	width: auto;
	margin: 15% 10%;
	
	}
	#maincontent_container h1, h2, h3 {
		font-size: 1.5rem;
		text-transform: uppercase;
		line-height: 130%;
	
	}

	.boton{

		margin: 20% 0 0 0;
	
	}
	



}

@media (min-aspect-ratio: 16/9) {
    .video {
        width:100%;
        height: auto;
    }
}




